{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="login-container">
    <div class="login-card">
      

        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <div class="input-group">
                <label  for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                <div class="form-error">{{ f.errors }}</div>
            </div>
            {% endfor %}
            <button type="submit" class="login-btn">
                <i class="fas fa-arrow-right fa-lg"></i>
            </button>

           <!-- <button class="auth-button" type="submit">Сохранить</button> -->
        </form>
    </div>
</div>
{% endblock %}







