
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h1 class="login-title">The password has been changed</h1>
        <p class="login-message">
            Congratulations! You have successfully changed your account password. Now you can 
            <a href="{% url 'users:login' %}" class="auth-link">enter</a>.
        </p>
    </div>
</div>
{% endblock %}
   
{% block styles %}
   <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}  



