{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-card">           
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="input-group">                
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                </div>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}     
            <button type="submit" class="login-btn">
                <i class="fas fa-arrow-right fa-lg"></i>
            </button>       
           <!-- <button type="submit">Сбросить по E-mail</button> -->
        </form>
    </div>
</div>
{% endblock %}



