{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h1>SIGN ME UP</h1>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            
            <div class="form-error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>

            {% for f in form %}
            <div class="input-group">
                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                <div class="form-error">
                    {% for error in f.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <button type="submit" class="login-btn">
                <i class="fas fa-arrow-right fa-lg"></i>
            </button>
        </form>
    </div>
</div>
{% endblock %}


